title: Neotys Connect
description: >-
  Community-driven tutorials, learning resources, and collaborations.
twitter_username: neotys
github_username:  Neotys-Connect
url: https://connect.neotys.com

core_team_text: Connect Core Team

# Build settings
theme: minima
plugins:
  - jekyll-feed

include:
  - _pages

header_pages:
  - _pages/about.markdown
  - _pages/other-neotys-sites.markdown

google_analytics: G-WZ89N6ZSFK

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
