{%- capture url %}{{ include.more }}{% endcapture -%}
{%- capture text %}{{ include.type }}{% endcapture -%}
<div markdown="1">
The first thing you should do is [check to see if the type of {{text}} you
 think you want to create already exist in our Integrations](/integrations-and-frameworks/).
 If so, you should try that out and if changes need to be made, work with the Moderators
 of that project to factor in changes or new work you'd like to add.

If it doesn't already exist, congratulations, you are the first one to get started
 in on the work! In that case, it would be beneficial to [read up as much as possible]({{url}})
 on how to author a {{text}} first.
</div>
<p></p>
