Once you're done, firstly, congratulations! That is a milestone you should be proud of.
 The next step is to get it published to this site. Since you created it as a repo
 in your own Github account, all you would need to do is Transfer Ownership to
 the 'Neotys-Connect' organization.

Once received, the {% include core-team-link.md %} will review it and either provide
 you feedback or accept it and make you a Moderator of that repo.

Also feel free to reach out to our {% include core-team-link.md %} afterwards.
