Make sure you thoroughly test and document the capabilities AND limitations of
 your new project, not only in the visible descriptions,
 but also in your Git repo where you plan to store the codebase.

Also make sure that all proprietary info, secrets, and non-approved content is
 removed from your contribution, otherwise the {% include core-team-link.md %} will
 not accept it to the Neotys-Connect organization as a public repo.

Heavy-handed documentation is always a good thing. You may also want to write a
 companion [Tutorial](/contribute/tutorial) and link to your Neotys-Connect repo
 so people know how and why to use your project.
