---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  font-family: 'Montserrat', 'Arial'
}
a:link,a:active,a:visited,a:hover {
  color:#000;
}
a:hover {
  color:#00f;
  text-decoration:none;
}

.wrapper {
  max-width: calc(1024px - (30px * 2));
}

div.home-table {
  margin-top: 2em;
  overflow: auto;
}
div.home-column {
  float: left;
  width: 23%;
  padding-left:1%;
  padding-right:1%;
  border-right: solid 1px #eee;
  text-align: center;
}
div.last {
  padding-right:0%;
  border-right: none;
}
div.home-column-inner {
  min-height: 300px;
}
div.home-icon {
  margin: 0 auto;
  width: 150px;
  height: 107px;
  background-image: url(/assets/home-icons.png);
  background-repeat: no-repeat;
  background-size: cover;
}
div.home-column-title {
  margin-top:0.3em;
  font-size:1.5em;
  height:3em;
  position: relative;
  display: inline-block;
  line-height: 3em;
}
div.home-column-title > span {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2em;
}
div.home-icon-tutorials {
  background-position: 0% 0%
}
div.home-icon-assets {
  background-position: 35% 0%
}
div.home-icon-contribute {
  background-position: 70% 0%
}
div.home-icon-involved {
  background-position: 105% 0%
}

div.home-column-list {
  margin-top:1em;
  font-size:0.8em;
  text-align:left;
}
div.home-column-list > ul {
  margin-left:0.9em;
}
div.home-column-more {
  font-size:0.8em;
}

div.article-content-with-sidebar {
  float: left;
  width:79%;
}
div.article-sidebar {
  float: left;
  width:20%;
}

.post-header {
  color:#aaa;
}
