// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

$neotysDark: #2d394e;
$lightGray: #eee;
$minWidth: 800px;

* {
  font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif !important;
}
a:link,a:active,a:visited,a:hover {
  color: $neotysDark;
  cursor: pointer;
}
a:hover {
  color:#00f;
  text-decoration:none;
}

.site-header {
  background: #f1f1ef;
  color: $neotysDark;
  border-top: none;
  border-bottom: none;
  min-height: auto;
  line-height: 25px;
  padding-top:0.2em;
  padding-bottom:0.2em;
}
.site-header >> a {
  color: $neotysDark;
}
.site-title {
  font-size: 1.4em;
}
.site-title, .site-title:visited, .site-nav .page-link {
  color: $neotysDark;
}

@media screen and (min-width: $minWidth) {
  .site-nav {
    padding-top:0.2em;
    font-size:0.8em;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
  }
}
@media screen and (max-width: $minWidth) {
  .site-nav {
    z-index:1000;
  }
}
span.site-description {
  float:left;
  color: scale-color($neotysDark, $lightness: 55%);
  max-width:300px;
  line-height:1em;
  margin-right:2em;
  font-size:0.9em;
}

.wrapper {
  max-width: calc(1024px - (30px * 2));
}

div.home-table {
  margin-top: 2em;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
div.home-column {
  float: left;
  width: 22%;
  min-width: 200px;
  padding-left:0%;
  padding-right:1%;
  padding-bottom:3em;
  text-align: center;
}
div.home-column-integrations-and-frameworks {
  min-width: 240px;
}
/*@include media-query($on-palm) {*/
@media screen and (max-width: $minWidth) {
  div.home-column {
    min-width: 43vw;
    max-width: 175px;
  }
}
div.home-column >> .home-column-list {
  border-left: solid 1px #ccc;
}
div.home-column:first-child >> .home-column-list {
  border-left: none;
}
div.home-column-list-two-lists {
  float:left;
  width:50%;
  font-size:0.9em;
  padding-top:0.2em;
  padding-bottom: 1em;
}
div.home-column-list-two-lists > ul {
  margin-left:1.2em;
}

@media screen and (max-width: $minWidth) {
  div.home-column-list-two-lists {
    float:none;
    width:100%;
  }
}
div.last {
  padding-right:0%;
  border-right: none;
}
div.home-column-inner {
  min-height: 400px;
  padding-left:0.5em;
  padding-right:0.5em;
}
div.home-column-inner > a {
  min-height:200px;
}
div.home-icon {
  margin: auto auto;
  width: 150px;
  height: 107px;
  background-image: url(/assets/home-icons.png);
  background-repeat: no-repeat;
  background-size: cover;
}
div.home-column-title {
  margin-top:0.3em;
  padding-bottom:0.5em;
  font-size:1.5em;
  height:3em;
  position: relative;
  display: inline-block;
  line-height: 3em;
  width:100%;
}
div.home-column-inner > * {
  width:100%;
}
div.home-column-title > span {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2em;
}
div.home-column-more {
  clear:both;
  font-size:0.8em;
  text-align:center;
}
div.home-icon-tutorials {
  background-position: 0px 0px;
}
div.home-icon-assets {
  background-position: -215px 0px;
}
div.home-icon-contribute {
  background-position: -430px 0px;
}
div.home-icon-involved {
  background-position: -645px 0px;
}

div.home-column-list {
  /*margin-top:1em;*/
  font-size:0.8em;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  display: inline-block;
  width:auto;
}
div.home-column-list > ul {
  margin-left:0.9em;
}

@media screen and (min-width: $minWidth) {
  div.article-content-with-sidebar {
    float: left;
    width:65%;
    padding-right:1em;
  }
  div.article-sidebar {
    float: left;
    width:30%;
  }
}
@media screen and (max-width: $minWidth) {
  div.article-container {
    display: flex;
    flex-direction: column-reverse;
    width:100%;
  }
  div.article-content-with-sidebar {
    float: left;
    width:100%;
    margin-top: 2em;
  }
  div.article-sidebar {
    float: left;
    width:100%;
    clear:both;
    display: flex;
    flex-wrap: wrap;
  }
  div.sidebar-section {
    width:auto;
    margin:0.5em;
  }
}

.boxed-outer {
  display: flex;
  flex-wrap: wrap;
}
.boxed-category {
  float: left;
  width: auto;
  padding-right:1em;
  max-width: 430px;
  margin-bottom:2em;
}

.post-header {
  color:#aaa;
}

div.sidebar-section {
  border-left: solid 5px $lightGray;
  padding-left:0.5em;
  margin-bottom: 1em;
}
div.sidebar-section > h3 {
  color:#aaa;
}

span.support-neotys {
  color: green;
}

span.support-external {
  color: orange;
}

span.support-none {
  color: darkred;
}

$color: #254568;
$main-width: 50rem;

// How far of a scroll travel within <main> prior to the
// link appearing
$scrollLength: 100vh;

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.back-to-top-wrapper {
  // uncomment to visualize "track"
  // outline: 1px solid red;
  position: absolute;
  top: $scrollLength;
  left: 45%;
  bottom: -5em;
  width: 3em;
  pointer-events: none;
}

.back-to-top-link {
  // `fixed` is fallback
  position: fixed;
  // preferred positioning, requires prefixing for most support, and not supported on Safari
  // @link https://caniuse.com/#search=position%3A%20sticky
  position: sticky;
  // reinstate clicks
  pointer-events: all;
  // achieves desired positioning within the viewport
  // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
  top: calc(100vh - 5rem);

  // basic styling
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0.25rem;

  // "pretty" styles, including states
  border: 1px solid $color;
  background-color: scale-color($color, $lightness: 85%);
  transition: transform 80ms ease-in;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px scale-color($color, $lightness: 35%);
  }
}

main {
  // leave room for the "scroll track"
  padding: 0 3rem;
  // required to make sure the `absolute` positioning of
  // the anchor wrapper is indeed `relative` to this element vs. the body
  position: relative;

  // Optional, clears margin if last element is a block item
  *:last-child {
    margin-bottom: 0;
  }
}

// .toc {
//   padding: 5px;;
//   width: 130px;
//   z-index: 100;
//   position: fixed;
// }
@media screen and (min-width: $minWidth) {
  .toc-pinned {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    position: fixed;
    top: 20px;
    right: 8%;
    background: white;
    border-left: solid 5px $lightGray;
    padding-left:0.5em;
    max-width: 25%;
  }
  .toc-inner {
    overflow: scroll;
    max-height: 85vh;
  }
}

div.home-coming-soon {
  width: 100%;
  border-radius: 25px;
  background: $lightGray;
  min-height:6em;
  padding-top:4em;
}
div.home-coming-soon::after {
  content: "Coming soon!";
}

#breadcrumbs, #breadcrumbs > *, #breadcrumbs > a:link {
  color:#aaa;
}

.external-link-icon {
  display: inline-block;
  background: url('/assets/external-link.png');
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: center center;
  width:1em;
  height:0.8em;
  margin-left:0.2em;
}
.external-link-icon::after {
  content: ""
}

div.home-buttons {
  padding-bottom:1em;
  width:100%;
  margin: auto auto;
  clear:both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.home-contribute-button {
  border-radius: 5px;
  background: $lightGray;
  font-size:0.8em;
  width:6em;
  margin-right:1em;
}


div.contribution-type-box {
  margin:1em;
  border: solid 1px #aaa;
  background: $lightGray;
  padding:1em;
  max-width:25%;
}

a.page-history {
  color:#ccc;
}

#formbutton-form > div.field.hiddenField {
  color: red;
}

.comments-outer {
  display:block;
  margin-top:2em;
  padding-top:2em;
}
.comments-outer-detailed {
  /*border-top:solid 5px $lightGray;*/
}

.home-get-involved-details {
  font-size: 0.8em;
}


img.community-person-thumbnail {
  width:96px;
  height:96px;
  border-radius: 50%;
  padding: 0.25rem;
  border-color:red;
}

.home-bande {
  border: solid 1px $lightGray;
  border-radius: 1rem;
  //padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin:2em;
}
.home-bande-image {
  background-color:red;
  filter: grayscale(100%);
  width:20%;
  height:10em;
  float:left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-bande-text {
  width:78%;
  min-height:5em;
  float:left;
  margin-left:2%;
}


.video-container-16x9 {
    /* width is set as 100% here. any width can be specified as per requirement */
    width: 100%;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}

h1,h2,h3,h4 {
  margin-top:1em;
}
pre.highlight {
  margin-bottom:1em;
}
