// Placeholder to allow overriding predefined variables smoothly.

$content-width:    1000px;
$on-palm:          800px;
$on-laptop:        1000px;
$on-medium:        835px;
$on-large:         1200px;
