---
layout: default
---
{% if page.permalink %}{% assign page_uuid=page.permalink %}{% endif %}

<article class="post">
<div class="article-container">

{% assign sidebar=false %}
{% if page.videos %}{% assign sidebar=true %}{% endif %}
{% if page.contributors %}{% assign sidebar=true %}{% endif %}
{% if page.documentation %}{% assign sidebar=true %}{% endif %}
{% if page.toc %}{% assign sidebar=true %}{% endif %}

{% if sidebar %}
  <div class="article-content-with-sidebar">
{% endif %}


<header class="post-header">
  <h1 class="post-title">{{ page.title | escape }}</h1>
</header>

{{ content }}




{% if sidebar %}
  </div>
  <div class="article-sidebar">
{% endif %}

{% if page.contributors %}
  <div class="sidebar-section">
  <h3>Contributors</h3>
  <ul>
  {% for contributor in page.contributors %}
    {%- capture url %}{{ contributor.url }}{% endcapture -%}
    {%- capture text %}{{ contributor.text }}{% endcapture -%}
    <li>{%- include smart_link.html url=url text=text -%}</li>
  {% endfor %}
  </ul>

  <p style="font-size:0.8em">
  {% if page.support %}
    {% if page.support == "Neotys" %}
    <span class="support-neotys">Officially supported by Neotys</span>
    {% else %}
    <span class="support-external">Supported by {{ page.support }}
    <br />(not Neotys officially)</span>
    {% endif %}
  {% else %}
  <span class="support-none">Not officially supported by Neotys</span>
  {% endif %}
  </p>

  </div>
{% endif %}

{% if page.documentation %}
  <div class="sidebar-section">
  <h3>Product Docs</h3>
  {% for link in page.documentation %}
  <a href="{{ link }}" target="_blank">Visit documentation</a>
  {% endfor %}
  </div>
{% endif %}

{% if page.academy %}
  <div class="sidebar-section">
  <h3>Neotys Academy</h3>
  {% for link in page.academy %}
  <a href="{{ link }}" target="_blank">Visit course</a>
  {% endfor %}
  </div>
{% endif %}

{% if page.repo %}
  <div class="sidebar-section">
  <h3>Code Repos</h3>
  <ul>
  {% for link in page.repo %}
  <li><a href="{{ link }}" target="_blank">{{ link | split: "/" | slice: 3,2 | join: "/" }}</a></li>
  {% endfor %}
  </ul>
  </div>
{% endif %}

{% if page.videos %}
  <div class="sidebar-section">
  <h3>Videos</h3>
  {% for video in page.videos %}
    {% if video.image and video.url %}
    <a href="{{ video.url}}" target="_blank"><img src="{{ video.image }}" alt="VIDEO"></a>
    {% else %}
      <iframe width="140" height="77" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}
  {% endfor %}
  </div>
{% endif %}

<div class="sidebar-section sidebar-comments" style="display:none">
  <a href="#comments" onclick="scrollToCommentsDetail()">
  <h3>Comments</h3>
  {% if page_uuid %}<span id="comment-count" class="disqus-comment-count" data-disqus-identifier="{{ page_uuid }}" data-disqus-url="{{ site.url }}{{ page_uuid }}">Count</span>{% endif %}
  </a>
</div>

{% if page.toc %}
  <div class="sidebar-section" id="toc-host">
  <div id="toc">
  <h3>ToC</h3>
  <div class="toc toc-inner">
  {{ page.toc | markdownify }}
  </div>
  </div>
  </div>
  <script type="text/javascript" src="/assets/scroll-toc.js"></script>
{% endif %}

{% if page.examples %}
  <div class="sidebar-section">
    <h3>Examples</h3>
    <ul>
    {% for article in page.examples %}
      <li>{% include article_link.html article=article %}</li>
    {% endfor %}
    </ul>
  </div>
{% endif %}

{% if sidebar %}
  </div>
{% endif %}

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {
        action: "https://formspree.io/f/xleovqka",
        title: "This page:",
        buttonImg: "<i class='fas fa-comment' style='font-size:24px'/>",
        fields: [{
          name: "helped",
          type: "radio",
          value: "yes",
          label: "Helped me",
          required: true,
        },
        {
          name: "helped",
          type: "radio",
          value: "no",
          label: "Did not help",
          required: true
        },
        {
          name: "comment",
          label: "Anything you'd like to share?",
          type: "textarea",
          placeholder: "Tell us in your own words"
        },
        {
          name: "_path",
          type: "hidden",
          style: {
            label: {
              width: "1%"
            }
          },
          value: ("" + document.location),
        },
        {
          type: "submit"
        }],
        // ...
      });

  </script>

  <div style="clear:both;"></div>

  <div id="comments" class="comments-outer" style="{% if sidebar %}max-width:600px;{% endif %}">
    <a href="#comments" name="comments"></a>
    <div class="comments-none"><a href="#comments-bottom" onclick="setCommentDetailVisibility(true)">Add a comment</a></div>
    <div id="disqus_thread" class="comments-detail" style="display:none;"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

        var disqus_config = function () {
          this.page.url = getCommentsUrl();
          {% if page_uuid %}this.page.identifier = "{{ page_uuid }}"{% endif %};
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://neotys-connect.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>

  <script>
  function getCommentsUrl() {
    return {% if page_uuid %}"{{ site.url }}{{ page_uuid }}"{% else %}document.location+""{% endif %}
  }
  function setCommentDetailVisibility(show) {
    var detail = $(".comments-detail")
    if(show) {
      $(".comments-none").hide();
      detail.show()
      $(".comments-outer").addClass("comments-outer-detailed")
      scrollToCommentsDetail()
    }
    else {
      $(".comments-none").show();
      detail.hide()
      $(".comments-outer").removeClass("comments-outer-detailed")
    }
  }
  function scrollToCommentsDetail() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $(".comments-detail").offset().top
    }, 300);
  }
  var intComments = setInterval(function() {
    if($ && DISQUSWIDGETS) {
      var count = document.getElementById("comment-count");
      count = $(count)
      DISQUSWIDGETS.getCount({reset: true});
      var text = count.text()
      var num = text.split(" ")[0];
      num = !(num.trim().length > 0 && !isNaN(parseInt(num))) ? 0 : parseInt(num);
      if(num > 0) {
        setCommentDetailVisibility(true)
        $(".sidebar-comments").show()
      }
      clearInterval(intComments)
    }
  },100)
  </script>
  <script id="dsq-count-scr" src="//neotys-connect.disqus.com/count.js" async></script>

</article>
