<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {%- if page.permalink != '/' -%}
      <div>
        <div class="wrapper">
          {%- include breadcrumbs.html -%}
        </div>
      </div>
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="back-to-top-wrapper">
        <a href="#top" class="back-to-top-link" aria-label="Scroll to Top">🔝</a>
      </div>
    </main>

    {%- include footer.html -%}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function () {   //  <- jquery is not yet initialized
        updateOffsiteLinksToOpenInBlank()
      });
      function updateOffsiteLinksToOpenInBlank() {
        var host = document.location.hostname
        var els = $("a:not(:target)").each(function(i,o) {
          if((o.href+"").trim().length > 0 && (o.href.indexOf('://'+host)<1 && o.text != "Back to neotys.com")) {
            if($(o).attr('is-external-link') != "true") {
              $(o).attr('is-external-link','true')
              $(o).attr('target','_blank')
              var span = $('<span class="external-link-icon"></span>')
              span.click(function() { $(o).click() })
              span.insertAfter(o)
            }
          }
        });
        //alert(els.length);
      }
    </script>

  </body>

</html>
