<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {%- if page.permalink != '/' -%}
      <div>
        <div class="wrapper">
          {%- include breadcrumbs.html -%}
        </div>
      </div>
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="back-to-top-wrapper">
        <a href="#top" class="back-to-top-link" aria-label="Scroll to Top">🔝</a>
      </div>
    </main>

    {%- include footer.html -%}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function () {   //  <- jquery is not yet initialized
        updateOffsiteLinksToOpenInBlank()
        updateArticleFrameSizes()
      });
      function updateOffsiteLinksToOpenInBlank() {
        var host = document.location.hostname
        var els = $("a:not(:target)").each(function(i,o) {
          var href = (o.href+"").trim()
          if(href.length > 0
              && (
                  ((href.indexOf('://'+host)<1) && $(o).attr('use-same-tab') != "true")
                  || $(o).attr('use-same-tab') == "false"
              )
            ) {
            if($(o).attr('is-external-link') != "true") {
              $(o).attr('is-external-link','true')
              $(o).attr('target','_blank')
              if($(o).attr('show-external-link') != "false") {
                var span = $('<span class="external-link-icon"></span>')
                span.click(function() { $(o).click() })
                span.insertAfter(o)
              }
            }
          }
        });
        //alert(els.length);
      }
      function updateArticleFrameSizes() {
        var els = $("iframe").each(function(i,o) {
          var el = $(o)
          var aspectratio = parseFloat(el.attr("aspectratio"));
          if(isNaN(aspectratio)) {
            aspectratio = el.height() / el.width();
            el.attr("aspectratio",aspectratio)

            var wrapper = $('<div class="iframe-wrapper">')
            wrapper.css({
              'max-width':''+el.parent().width()+"px",
              'max-height':''+(el.parent().width()*aspectratio)+"px",
              'width':'100vw',
              'height':(100*aspectratio)+'vw',
              'margin':'0 auto 1em auto'
            })
            el.wrap(wrapper).removeAttr("width").removeAttr("height").css({
              'width':'100%',
              'height':'100%'
            })
          }
        });
      }
    </script>

  </body>

</html>
