name: Build and Jekyll site static content

on:
  pull_request:
    branches: [ main ]
  # schedule:
  #   - cron: "0 0 * * *"

jobs:

  jekyll-bundle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: helaili/jekyll-action@2.0.5
        env:
        - build_only: true
        - ACTIONS_STEP_DEBUG: true
        - pre_build_commands: bundle exec jekyll build
      - name: Install dependencies
        run: |
          exit 1
