name: Build and Jekyll site static content

on:
  pull_request:
    branches: [ main ]
  # schedule:
  #   - cron: "0 0 * * *"

jobs:

  jekyll-bundle:
    runs-on: ubuntu-latest
    steps:
      - uses: addnab/docker-run-action@v1
        with:
          image: jekyll/jekyll:3.8
          run: jekyll build
          options: -v /github/workspace:/srv/jekyll -e JEKYLL_ENV=production
